:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #e6e2e7;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/*  TYPOGRAPHY  */
h1,
h2,
h3 {
  font-weight: bold;
  color: var(--color-heading);
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

.dark--block {
  background: #000000;
  color: white;
}

/*  ICON  */
.icon-container {
  background: yellow;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
  top: 1rem;
  bottom: 0;
  left: 1rem;
  cursor: pointer;
}

/*  LIST  */
.list {
  padding: 0;
  list-style: none;
}

/*  LINK  */
a {
  text-decoration: none;
}

/*  COLLAPSIBLE  */

.collapsible {
  margin-bottom: 5rem;
}

.collapsible__heading {
  font-size: 2rem;
  margin: 1rem 0 0;
}

.collapsible .collapsible__content {
  max-height: 0;
  opacity: 0;
}

.collapsible--header {
  display: flex;
  justify-content: space-between;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/*  BUTTON  */
.btn {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 1.8rem;
  font-weight: 600;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
}

.btn--secondary {
  background: var(--color-secondary);
  color: white;
}

.btn--accent {
  background: var(--color-accent);
  color: white;
}

.btn--outline {
  background: white;
  color: var(--color-heading);
}

.btn--streched {
  margin-top: 3rem;
  padding: 1rem 6rem;
}

/*  GRID  */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*  CLIP PATH  */
.block--skewed-left {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-right {
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 0 100%);
}

/*  NAVIGATION BLOCK */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav__icon {
  fill: white;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #777777;
}

.nav__list {
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
}

.nav__list li a {
  color: white;
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .nav__list {
    max-height: 100vh;

    opacity: 1;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
  }

  .nav__item {
    margin: 0 2rem;
  }

  .nav__icon {
    max-height: 0;
    opacity: 0;
  }

  .nav .nav__list {
    max-height: 100vh;
    opacity: 1;
  }
}

/*  BODY BLOCK  */
.body__block {
  background: black;
  color: white;
  padding-bottom: 10rem;
}

.body__header {
  text-align: center;
  text-transform: capitalize;
}

.body__heading {
  color: white;
}

.body__content {
  opacity: 0.5;
}

img {
  width: 100%;
}

.body__btn {
  position: relative;
  top: 3rem;
}

.banner {
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .body__header {
    align-self: center;
    text-align: left;
    padding-left: 2rem;
  }

  .body__heading {
    font-size: 8rem;
    margin: 0 1rem 1rem;
  }
}
