<section>
  <header class="feature__header">
    <h2 class="feature__heading">host on the cloud to keep growing</h2>
    <p class="feature__header-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis beatae
      eos deleniti minima facere reprehenderit.
    </p>
  </header>
  <div class="grid grid--1x2 feature__section">
    <section class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--secondary">
          <use xlink:href="/images/sprite.svg#menu"></use>
        </svg>
      </span>
      <h3 class="feature__content-heading">super easy to use</h3>
      <p class="feature__content-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dicta eos perferendis dignissimos tempore provident, quasi ad. Quo,
        dignissimos recusandae?
      </p>
      <a class="feature__link" href="#">learn more</a>
    </section>

    <picture class="feature__image">
      <source
        type="image/webp"
        src="/images/easy@1x.webp 1x, /images/easy@2x.webp 2x"
      />

      <source
        type="image/jpg"
        src="/images/easy@1x.jpg 1x, /images/easy@2x.jpg 2x"
      />

      <img src="/images/easy@2x.jpg" alt="" />
    </picture>
  </div>
</section>

<section>
  <div class="grid grid--1x2 feature__section">
    <section class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--secondary">
          <use xlink:href="/images/sprite.svg#menu"></use>
        </svg>
      </span>
      <h3 class="feature__content-heading">super easy to use</h3>
      <p class="feature__content-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dicta eos perferendis dignissimos tempore provident, quasi ad. Quo,
        dignissimos recusandae?
      </p>
      <a class="feature__link" href="#">learn more</a>
    </section>

    <picture class="feature__image">
      <source
        type="image/webp"
        src="/images/fast@1x.webp 1x, /images/fast@2x.webp 2x"
      />

      <source
        type="image/jpg"
        src="/images/fast@1x.jpg 1x, /images/fast@2x.jpg 2x"
      />

      <img src="/images/fast@2x.jpg" alt="" />
    </picture>
  </div>
</section>

<section>
  <div class="grid grid--1x2 feature__section">
    <section class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--secondary">
          <use xlink:href="/images/sprite.svg#menu"></use>
        </svg>
      </span>
      <h3 class="feature__content-heading">super easy to use</h3>
      <p class="feature__content-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dicta eos perferendis dignissimos tempore provident, quasi ad. Quo,
        dignissimos recusandae?
      </p>
      <a class="feature__link" href="#">learn more</a>
    </section>

    <picture class="feature__image">
      <source
        type="image/webp"
        src="/images/wordpress@1x.webp 1x, /images/wordpress@2x.webp 2x"
      />

      <source
        type="image/jpg"
        src="/images/wordpress@1x.jpg 1x, /images/wordpress@2x.jpg 2x"
      />

      <img src="/images/wordpress@2x.jpg" alt="" />
    </picture>
  </div>
</section>

<section>
  <div class="grid grid--1x2 feature__section">
    <section class="feature__content">
      <span class="icon-container feature__icon">
        <svg class="icon icon--secondary">
          <use xlink:href="/images/sprite.svg#menu"></use>
        </svg>
      </span>
      <h3 class="feature__content-heading">super easy to use</h3>
      <p class="feature__content-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dicta eos perferendis dignissimos tempore provident, quasi ad. Quo,
        dignissimos recusandae?
      </p>
      <a class="feature__link" href="#">learn more</a>
    </section>

    <picture class="feature__image">
      <source
        type="image/webp"
        src="/images/support@1x.webp 1x, /images/support@2x.webp 2x"
      />

      <source
        type="image/jpg"
        src="/images/support@1x.jpg 1x, /images/support@2x.jpg 2x"
      />

      <img src="/images/support@2x.jpg" alt="" />
    </picture>
  </div>
</section>
