<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <ul class="list domain__list">
      <li class="domain__item">.com $9.26</li>
      <li class="domain__item">.sg $7.91</li>
      <li class="domain__item">.spactze $12.98</li>
      <li class="domain__item">.info $14.15</li>
      <li class="domain__item">.net $16.15</li>
      <li class="domain__item">.xyz $10.15</li>
    </ul>
  </body>
</html>
