<div class="dark--block">
  <div class="media">
    <div class="collapsible collapsible--expanded media__container">
      <header class="media__header">
        <h3 class="media__heading">PRODUCT</h3>
        <span>
          <svg class="icon media__icon">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list collapsible__content media__content">
        <li><a href="">Wordpress Hosting</a></li>
        <li><a href="">Free Automated Wordpress</a></li>
        <li><a href="">Migration</a></li>
        <li><a href="">Domain Names</a></li>
        <li><a href="">Monthly Web Hosting</a></li>
      </ul>
    </div>

    <div class="collapsible media__container">
      <header class="media__header">
        <h3 class="media__heading">COMPANY</h3>
        <span>
          <svg class="icon media__icon">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list collapsible__content media__content">
        <li><a href="">About</a></li>
        <li><a href="">affiliates</a></li>
        <li><a href="">blog</a></li>
        <li><a href="">careers</a></li>
        <li><a href="">community</a></li>
        <li><a href="">news</a></li>
        <li><a href="">green hosting</a></li>
      </ul>
    </div>

    <div class="collapsible media__container">
      <header class="media__header">
        <h3 class="media__heading">support</h3>
        <span>
          <svg class="icon media__icon">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list collapsible__content media__content">
        <li><a href="">contact</a></li>
        <li><a href="">knowledge</a></li>
        <li><a href="">forums</a></li>
        <li><a href="">system status</a></li>
        <li><a href="">web hosting</a></li>
        <li><a href="">dream compute</a></li>
      </ul>
    </div>

    <div class="collapsible media__container">
      <header class="media__header">
        <h3 class="media__heading">Domain</h3>
        <span>
          <svg class="icon media__icon">
            <use xlink:href="/images/sprite.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="list collapsible__content media__content">
        <li><a href="">Domain checker</a></li>
        <li><a href="">domain transfer</a></li>
        <li><a href="">free domain</a></li>
        <li><a href="">XYZ Domain</a></li>
        <li><a href="">Cheap SSL certificate</a></li>
      </ul>
    </div>

    <div class="media__image">
      <img src="/images/logo.svg" alt="" />
    </div>
  </div>
</div>
