<div>
  <div class="plan--container">
    <div class="plan">
      <header class="card__header">
        <h3 class="card__heading">Entry</h3>
        <span class="card__price">$14</span>
        <span class="card__duration">/month</span>
        <span class="badge badge--primary-small card__discount">10% OFF</span>
        <p class="card__content">Easy start on the cloud</p>
      </header>

      <ul class="list card__list">
        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          Unlimited Websites
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          Unlimited Bandwidth
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          100 GB SSD Storage
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          3 GB RAM
        </li>

        <div class="plan__btn">
          <button class="btn btn--block btn--outline">buy now</button>
        </div>
      </ul>
    </div>

    <div class="plan plan--popular">
      <header class="card__header">
        <img class="plan__popular-image" src="/images/popular.svg" alt="" />
        <h3 class="card__heading">Entry</h3>
        <span class="card__price">$14</span>
        <span class="card__duration">/month</span>
        <span class="badge badge--secondary-small card__discount">10% OFF</span>
        <p class="card__content">Easy start on the cloud</p>
      </header>

      <ul class="list card__list">
        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          Unlimited Websites
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          Unlimited Bandwidth
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          100 GB SSD Storage
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          3 GB RAM
        </li>

        <div class="plan__btn">
          <button class="btn btn--block btn--plan">buy now</button>
        </div>
      </ul>
    </div>

    <div class="plan">
      <header class="card__header">
        <h3 class="card__heading">Entry</h3>
        <span class="card__price">$14</span>
        <span class="card__duration">/month</span>
        <span class="badge badge--primary-small card__discount">10% OFF</span>
        <p class="card__content">Easy start on the cloud</p>
      </header>

      <ul class="list card__list">
        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          Unlimited Websites
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          Unlimited Bandwidth
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          100 GB SSD Storage
        </li>

        <li class="card__list-item">
          <svg class="icon card__icon">
            <use xlink:href="/images/sprite.svg#tick"></use>
          </svg>
          3 GB RAM
        </li>

        <div class="plan__btn">
          <button class="btn btn--block btn--outline">buy now</button>
        </div>
      </ul>
    </div>
  </div>
</div>
