<div class="dark--block block--skewed-left block-showcase">
  <header>
    <h2 class="showcase__heading">User-Friendly control panel</h2>
  </header>

  <div class="grid grid--1x2">
    <img class="showcase__image" src="/images/ipad.png" alt="" />

    <div class="showcase__section">
      <div class="showcase__container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
        <div class="showcase__content">
          <h3 class="showcase__content-heading">Easy start & managed update</h3>
          <p class="showcase__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            architecto quia molestiae quis, quos animi.
          </p>
        </div>
      </div>

      <div class="showcase__container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
        <div class="showcase__content">
          <h3 class="showcase__content-heading">Easy start & managed update</h3>
          <p class="showcase__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            architecto quia molestiae quis, quos animi.
          </p>
        </div>
      </div>

      <div class="showcase__container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#wordpress"></use>
        </svg>
        <div class="showcase__content">
          <h3 class="showcase__content-heading">Easy start & managed update</h3>
          <p class="showcase__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            architecto quia molestiae quis, quos animi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
