<section class="testimonial">
  <header class="testimonial__header">
    <h2 class="testimonial__heading">What our Customer are Saying</h2>
    <p class="testimonial__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque beatae
      obcaecati sed consequatur vel aliquam?
    </p>
  </header>

  <div class="grid grid--1x2 testimonial__card">
    <div class="image__container">
      <img
        class="testimonial__card-image"
        src="/images/testimonial.jpg"
        alt=""
      />
    </div>

    <div class="testimonial__card-container">
      <p class="testimonial__card-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nisi,
        vero cum animi quasi dolorem porro dolor corrupti et rem? Sapiente odit,
        obcaecati ad mollitia consequuntur officiis! Voluptatem obcaecati illo
        beatae corporis dicta reiciendis nemo suscipit officiis ipsum
        reprehenderit maiores, debitis culpa quis animi accusantium consectetur.
        Inventore nesciunt corporis quo!
      </p>

      <div class="testimonial__details">
        <span
          ><svg class="icon testimonial__icon">
            <use xlink:href="/images/sprite.svg#line"></use>
          </svg>
        </span>

        <div>
          <p class="name">ABEL ATUMBEE</p>
          <p class="company">Mosh Company Ceo</p>
        </div>
      </div>
    </div>
  </div>
</section>
